/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "main";

 

 header h1 a img {
   width:150px;
   height:150px;
   border-radius:50%;
   overflow:hidden;
 }

 a.btn{
   text-decoration: none;
 }

button#submit.btn.btn-success {
  position: relative;
  left: -1.9%;

}

input[type="file"] {
  position: relative;
  left:44%;
}
