/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
// the upcoming events list has a long space with the image slider
 ul, ol {
   margin-top: -120px
 }
// ends here

div.container.first-container {
  position:relative; top:-5vw;
}
div.container.second-container {
  position:relative; top:-5vw;
}
div.container.third-container {
  position:relative; top:-5vw;
}

@media only screen and (max-width: 500px) {
    div.container.first-container, div.container.second-container, div.container.third-container {
        position:relative; top:-40vw;
      }
    }



div.item.first {
  background-image: url("/images/langa4.jpg");

}
div.item.second {
  background-image: url("/images/cp2.jpg");
}
div.item.third {
  background-image: url("/images/cp.jpg");

}

p.page_boyd_class {
  word-spacing:-2px;

}

 ul.nav.navbar-nav {
background-color:#0684f3;
font-size: 20px;
 }
 ul.nav.navbar-nav > li {
   background-image: linear-gradient(white 33%, rgba(255,255,255,0) 0%);
   background-position: right;
   background-size: 1px 3px;
   background-repeat: repeat-y;

 }


span.icon-bar.page_header {
    margin-left: 30px;
  }

@media only screen and (max-width: 500px) {
    span.icon-bar.page_header {
        margin-top:30px;
        font-size:12px;
        position: relative;
        left: 10px;

      }
    }

    a.readmore_button{
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      font-size: 18px;
      background: #55b7c8;
      color: #fff;
      text-decoration: none;
    }

  