/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "main";


 .container-table {
   display: table;
   font-family: 'Gabriela', serif;
   color: #FFF;
   border-radius: 20px;
   border-width: 3px;
   border-style: solid;
   border-color: white;
  //  background: #600	;
  // border-color: cyan magenta yellow
   background: 	#F39;


  //  background-color:  rgba(54, 25, 25, .5);
  //  background-color: rgb(30%,50%,70%);

   padding: 0.5em 0.2em 0.8em 0.5em;
 }

 header h1 a img {
   width:150px;
   height:150px;
   border-radius:50%;
   overflow:hidden;
 }

 a.btn{
   text-decoration: none;
 }


input[type="file"] {
  position: relative;
  left:44%;
}
