
 hr.side
  { border: 3px dashed #0000FF;
   border-radius: 10px;
   text-shadow: 4px 4px 2px rgba(245,245,220, 0.8);
   text-shadow: 4px 4px 2px #f5f5dc;
   -moz-box-shadow: 1px 1px 3px 2px #f5f5dc;
   -webkit-box-shadow: 1px 1px 3px 2px #f5f5dc;
    box-shadow:         1px 1px 3px 2px #f5f5dc;

  }
