
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
  a.btn.btn-success.sermon_link{
    margin-right: -30px;
    max-width: 80%;
  }
  div.sermon-time{
    padding-left: 30px;
  }
  div.sermon-preacher{
    font-size: 14px;
    padding-left: 30px;
  }
  a.sermon-title{
    font-size: 14px;
    padding-left: 30px;
  }
}
