@media only screen and (max-width: 500px) {
    nav.events-link{
        padding-bottom: 150px;
      }
    }

    nav.events-link {
      width: 100%;
      min-height: 50%;
      text-align: center;
      background:none;
      padding-bottom:140px;
    }
